@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-primary;
  }
  button:hover {
    @apply opacity-90;
  }
  button:disabled:hover {
    @apply !opacity-60;
  }
  input {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-500;
  }
  button:disabled {
    @apply !opacity-60;
  }
  input:disabled {
    @apply bg-white opacity-60;
  }
}

@layer components {
  .row {
    @apply flex space-x-4 space-x-reverse;
  }
  .input-primary {
    @apply w-full text-primary px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 
    focus:ring-blue-600 text-base h-12;
  }
  .btn-primary {
    @apply w-full h-12 text-white bg-primary rounded-lg hover:opacity-90 focus:outline-none 
    focus:ring-2 focus:ring-blue-600 flex justify-center items-center gap-2;
  }
  .btn-secondary {
    @apply bg-secondary text-sm md:text-lg py-1 w-full h-full rounded-[10px] disabled:opacity-50 
    text-white;
  }
  .label-primary {
    @apply block font-bold text-gray-700;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
